header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  background-color: white;
  border-bottom: black solid 1px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

#logo {
  display: inline-flex;
  align-items: center;
  color: MediumAquamarine;
}

#logo span {
  padding: 10px;
}

nav li {
  display: inline-block;
  padding: 20px;
}

a {
  color: black;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  margin: 100px auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

article {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#main-article {
  width: 630px;
}

h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.picture-heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 300px;
  margin-top: 0;
  color: white;
  text-align: center;
}

#concert-heading {
  background-image: url("../images/img-story-main.png");
  width: 630px;
}

#concert-heading .picture-heading {
  font-size: 40px;
  width: 630px;
  text-align: left;
}

#cat-heading {
  background-image: url("../images/img-story-1.png");
}

#earth-heading {
  background-image: url("../images/img-story-2.png");
}

#camera-heading {
  background-image: url("../images/img-story-3.png");
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
